:root {
  --bg-color: #f5f5f5;
  --text-color: #000;
  --footer-bg-color: #d5d4d8;
  --image-grayscale: 0;
  --image-opacity: 100%;
}

[data-theme="dark"] {
  --bg-color: #212833;
  --text-color: #fff;
  --footer-bg-color: #0b0c0f;
  --image-grayscale: 10%;
  --image-opacity: 90%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-img {
  height: 33vh;
  width: 100vw;
  object-fit: cover;
  object-position: 100% 21%;
}

.title-name {
  font-size: 25px;
  margin: 28px 0 0 0;
}

.title-job {
  font-weight: 400;
  line-height: 4px;
  color: #ffcb9a;
  font-size: 18px;
  margin-top: 12px;
}

.title-sitename {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-size: 11px;
  color: var(--text-color);
}

.info, .button, #button-white, #button-linkedIn, .center-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-white, #button-linkedIn {
  padding: 9px 13px 9px 11px;
  font-size: 15px;
  font-weight: 500;
  width: 130px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin: 16px 12px;
  transition: .5s ease-in-out;
}

#button-linkedIn {
  background-color: #287fe5;
  color: white;
  border: 1px solid #287fe5;
}

#button-white:hover {
  background-color: #136366;
  color: white;
  border: 1px solid #136366;
}

#button-linkedIn:hover {
  background-color: #1B59A0;
  border: 1px solid #1B59A0;
}


.--fa-li-margin {
  margin: 0 10px 0 4px;
}

.info, .center-body {
  flex-direction: column;
}

.header, .about-header {
  width: 280px;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 24px;
}

.about-header {
  margin-top: 8px;
}

.about-content, .interests-content {
  width: 280px;
  font-size: 11px;
  margin-top: 4px;
  line-height: 15px;
}

.interests-content {
  margin-bottom: 32px;
}

footer {
  margin-top: auto;
  background-color: var(--footer-bg-color);
  padding: 20px 0 20px 0;
  text-align: center;
}

#social-icon {
  margin: 0 16px 0 16px;
  font-size: 34px;
  color: #918E9B;
  transition: .5s ease-in-out;
}

#social-icon:hover {
  color: #136366;
}

.toggles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check,
.wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity .25s ease;
}

.wrg-toggle-check {
  left: 8px;
}

.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span,
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all .2s ease;
}

.wrg-toggle-circle {
  transition: all .5s cubic-bezier(.23, 1, .32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all .25s ease;
}

.wrg-toggle--checked .wrg-toggle-check {
  opacity: 1;
}

.wrg-toggle--checked .wrg-toggle-uncheck {
  opacity: 0;
}

.wrg-toggle--checked .wrg-toggle-circle {
  left: 27px;
}

@media screen and (min-width: 992px) {
  .profile-img {
    height: 45vh;
  }
}
